<template>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        #board {
            display: grid;
            grid-template-columns: repeat(8, max-content);
            grid-template-rows: repeat(8, max-content);
        }

        .cell {
            width: calc(70vw / 8);
            /* display: flex; */
            aspect-ratio: 1/1;
            height: auto;
            justify-self: center;
            /* justify-content: center; */
            /* align-items: center; */
            flex: 1 1 6vw;
        }

        .black {
            background-color: rgb(171, 122, 101, 1)
        }

        /* .black.moved {
            background-color: hsla(12, 14%, 35%, 0.5);
        } */

        .white {
            background-color: rgba(238, 216, 192, 1);
        }



        /* .white.moved {
            background-color: hsla(173, 53%, 81%, 0.5);
        } */

        .check {
            background-color: #ff9c88;
        }

        .mate {
            background-color: #ff2a00;
        }
    </style>
    <div id="board">
    </div>
</template>

<template id="cell">
    <style>

    </style>
</template>