<template>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        #board {
            display: grid;
            grid-template-columns: repeat(8, max-content);
            grid-template-rows: repeat(8,max-content);
        }
        
        .cell {
            width: calc(70vw / 8);
            /* display: flex; */
            aspect-ratio: 1/1;
            height: auto;
            justify-self: center;
            /* justify-content: center; */
            /* align-items: center; */
            flex: 1 1 6vw;
        }
        .black {
            background-color: #AB7A65;
        }
        .white {
            background-color: rgba(238, 216, 192, 1);
        }
        .check {
            background-color: #de3c1c;
        }
    </style>
    <div id="board">
    </div>
</template>

<template id="cell">
    <style>

    </style>
</template>